
<div class = "container">

    <h1>Sign Up</h1>

    <%= form_for @user, url:signup_path do |f| %>
      <% if @user.errors.present? %>
        <div class = "row">
          <div id= "error_explanation", class = "text-danger" role = "alert">
            <ul class = "list-unstyled">
              <% @user.errors.full_messages.each do |message| %>
                <li><%=message%></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="ui large form segment">
        <div class="ui vertical segment">
        <div class="fields">
          <div class="six wide field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
          <div class="six wide field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
          <div class="six wide field">
            <%= f.label :email %>
            <%=f.email_field :email %>
          </div>
          <div class="six wide field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="six wide field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="six wide field">
          </div>
          <div class="six wide field">
          </div>
          <div class="ten wide field">
            <%= f.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      </div>
    <% end %>


</div>
