<div class = "container-fluid">
<h1>Sign In</h1>


<%= form_tag signin_path do |f| %>

  <% if @sign_in_error %>
    <p>
      <%= @sign_in_error %>
    </p>
  <% end %>
  <div class="ui form segment">
    <div class="fields">
      <div class="field">
        <%= label_tag :email %>
      </div>
      <div class="six wide field">
        <%= email_field_tag :email %>
      </div>
      <div class="field">
        <%= label_tag :password %>
      </div>
      <div class="six wide field">
        <%= password_field_tag :password %>
      </div>
      <div>
        <%= submit_tag "Sign In"%>
      </div>
    </div>
  </div>
<% end %>
</div>
